.alarm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Inter", sans-serif;
}

.title-alarm {
  margin-top: 24px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
  padding: 6px;
  background-color: white;
  color: red;
  border-radius: 10px;
}
