body {
  background-color: #111111;
  color: #ffffff;
  font-family: 'JetBrains Mono', 'Hack', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap'); /* Import JetBrains Mono font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hack:wght@400;700&display=swap'); /* Import Hack font from Google Fonts */
