body {
  background-color: #111111;
  color: #ffffff;
  font-family: 'JetBrains Mono', 'Hack', monospace;
}

#app {
  font-family: 'JetBrains Mono', 'Hack', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
